@import url('antd/dist/antd.css');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  background: none;
  padding: 50px 0;
}
.form-container {
  margin: 50px 0;
  text-align: center;
}
.contact-main_area {
  width: 700px;
  margin: 0 auto;
  border-radius: 5px;
}
