@import url('antd/dist/antd.css');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  background: none;
  padding: 50px 0;
}
.form-container {
}
.contact-main_area {
  width: 500px;
  margin: 0 auto;
  background: rgb(247, 247, 247);
  padding: 30px;
  border-radius: 5px;
}
